/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}


.visualization {
    flex: 2; 
    padding: 20px;
    background-color: #f9f9f9;
    border-right: 1px solid #ddd;
    overflow: auto; 
}

#header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.returnButton {
    background-color: #b3577f;
    border: none;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
}

#buttonsContainer {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

.returnButton img {
    width: 18px;
    height: 18px;
}


.options {
    flex: 1; 
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    font-size: 0.9rem;
}

p {
    margin: 5px 0; 
    font-size: 0.9rem; 
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#buttonsContainer {
    display: flex;
    height: 100%;
    width: 100%; 
    overflow: hidden; 
    box-sizing: border-box; 
}

.button-group {
    display: flex;
    gap: 10px;
}

.categoryButton {
    padding: 10px 15px;
    background-color: #ffffff;
    color: #b3577f;
    border: 2px solid #b3577f;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.categoryButton:hover {
    background-color: rgb(204, 196, 196);
}

.categoryButton.selected {
    background-color: rgba(255, 255, 255, 0);
    color: #007bff;
}


.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.addChartButton {
    padding: 10px 15px;
    background-color: #b3577f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.addChartButton:hover {
    background-color: #7e3e5a;
}

#chart {
    border: 1px solid #ccc;
    background: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 

.chart-slot {
    cursor: pointer;
    transition: background-color 0.2s, border 0.2s; /* Transition douce */
    border: 1px solid #ccc; /* Bordure initiale */
    background-color: #f9f9f9; /* Couleur de fond initiale */
}

.chart-slot:hover {
    background-color: #e6e6e6; /* Couleur de fond au survol */
}

.chart-slot.selected {
    border: 2px solid #007bff; /* Bordure bleue pour la sélection */
    background-color: #dbeaff; /* Couleur de fond bleue pour la sélection */
}

.reco-button-group {
    display: flex;
    flex-direction: column;  /* Aligner les boutons verticalement */
    gap: 10px;               /* Espacement entre les boutons */
}

.recoButton {
    padding: 10px;
    font-size: 14px;
    background-color: #feb638;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.recoButton:hover {
    background-color: #ffa202;
}
